@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  font-family: "Pretendard", "맑은 고딕", "돋움", Dotum, "Sans-serif", Arial !important;
}

*::-webkit-scrollbar {
  width: 6px;
  /*스크롤바의 너비*/
}

*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100px;
}

*::-webkit-scrollbar-track {
  margin-top: 8px;
  background-color: transparent;
  /*스크롤바 트랙 색상*/
}

body {
  padding: 50px 20px;
}

.component-wrap {
  min-width: 320px;
}

.component-wrap.view {
  padding: 0 50px;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}